{% extends 'back.html.twig' %}

{% block title %}
    <title>Liste des users</title>
{% endblock %}

{% block body %}
    <style>
    .action-link {
    color: blue; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
    margin-right: 10px; /* Espacement entre les liens */
}
.action-linkk{

   color: red; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement des liens */
    margin-right: 10px; /* Espacement entre les liens */
}
}

.action-link:hover {
    color: red; /* Couleur du texte au survol */
}

        /* Style for the table */
        table {
          width: 100%;
          border-collapse: collapse;
        }

        /* Style for table headers */
        th {
          background-color: #f2f2f2;
          color: #333;
          padding: 8px;
          text-align: left;
        }

        /* Style for table rows */
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        tr:hover {
          background-color: #ddd;
        }

        /* Style for table cells */
        td {
          padding: 8px;
        }

        /* Style for action links */
        a {
          color: #007bff;
          text-decoration: none;
          margin-right: 10px;
        }

        a:hover {
          text-decoration: underline;
        }
    </style>

    <table border="1">
        <tr>
            <th>id</th>
            <th>NOM</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Action</th> <!-- Nouvelle colonne pour le lien Edit -->
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.Nom }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.Adresse }}</td>
                <td>
                <a href="{{ path('deleteuser', {'id': user.id}) }}" class="action-linkk">Delete User</a>
                <br> <!-- Ajout d'un saut de ligne pour séparer les liens -->
                <a href="{{ path('detail_user', {'id': user.id}) }}" class="action-link">Show Details</a>


                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
